<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="exDBF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <exDBF.Properties.Settings>
            <setting name="pathDBF" serializeAs="String">
                <value />
            </setting>
            <setting name="findString" serializeAs="String">
                <value />
            </setting>
            <setting name="wWin" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="hWin" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="fileDBF" serializeAs="String">
                <value />
            </setting>
            <setting name="pathCSV" serializeAs="String">
                <value>csv</value>
            </setting>
            <setting name="pathPIC" serializeAs="String">
                <value>pic</value>
            </setting>
            <setting name="maxRecords" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="titleButton" serializeAs="String">
                <value>Выгрузить в файл</value>
            </setting>
        </exDBF.Properties.Settings>
    </userSettings>
</configuration>
